.buttonsContainer {
    display: flex;
    gap: 24px;
    margin-bottom: 50px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.imageContainer {
}

.image {
}

.textContainer{
    max-width: 510px;
}

.code {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 12px;
}

.text {
}
.info {
}