.selectWrapper {
    margin-right: 125px;
    max-width: 165px;
    position: relative;
}

.chevron {
    position: absolute;
    top: 50%;
    right: 3px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    pointer-events: none;
}

.chevron path {
    fill: var(--color);
}



.select {

    min-width: 165px;
    padding: 10px 25px 10px 10px;
    border: 1px solid var(--select-border-color, #323232);
    border-radius: 2px;
    font-size: 14px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    color: var(--color);
    background-color: var(--background, #FFFFFF);
}


.select:focus {
    outline: none;
}

.option {

}
